* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--hue: 223deg;
	--gray1: hsl(var(--hue) 10% 95%);
	--gray9: hsl(var(--hue) 10% 15%);
	--black: hsl(0 0% 0%);
	--primary3: hsl(var(--hue) 90% 75%);
	--primary5: hsl(var(--hue) 90% 55%);
	--primary6: hsl(var(--hue) 90% 45%);
	--trans-dur: 0.3s;
	color-scheme: light dark;
	font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}

body,
button {
	font: 1em / 1.5 "Londrina Solid", sans-serif;
	transition: background-color var(--trans-dur), color var(--trans-dur);
}

body {
	background-color: light-dark(var(--gray1), var(--gray9));
	color: light-dark(var(--gray9), var(--gray1));
	display: grid;
	place-items: center;
	height: 100vh;
}

.creepy-btn {
	background-color: var(--black);
	border-radius: 1.25em;
	color: var(--gray1);
	cursor: pointer;
	letter-spacing: 1px;
	min-width: 9em;
	outline: 0.1875em solid transparent;
	transition: outline 0.1s linear;
	-webkit-tap-highlight-color: transparent;
	position: relative;
}

.creepy-btn__cover,
.creepy-btn__eye {
	position: relative;

    /* ADDED */
    will-change: transform;
}

.creepy-btn,
.creepy-btn__pupil {
	background-color: var(--black);
}

.creepy-btn__cover,
.creepy-btn__pupil {
	border-radius: inherit;
	display: block;
}

.creepy-btn__cover {
	background-color: var(--primary5);
	box-shadow: 0 0 0 0.125em var(--black) inset;
	padding: 0.5em 1em;
	inset: 0;
	transform-origin: 1.25em 50%;
	transition: background-color var(--trans-dur),
		transform var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1);
}

.creepy-btn__eye {
	animation: eye-blink 3s infinite;
	background-color: var(--gray1);
	border-radius: 50%;
	overflow: hidden;
	width: 0.75em;
	height: 0.75em;
}

.creepy-btn__eyes,
.creepy-btn__pupil {
	position: absolute;
}

.creepy-btn__eyes {
	display: flex;
	align-items: center;
	gap: 0.375em;
	right: 1em;
	bottom: 0.5em;
	height: 0.75em;
}

.creepy-btn__pupil {
	aspect-ratio: 1;
	top: 50%;
	left: 50%;
	width: 0.375em;
	transform: translate(-50%, -50%);
}

.creepy-btn:focus-visible {
	outline: 0.1875em solid var(--primary3);
}


.creepy-btn:hover .creepy-btn__cover,
.creepy-btn:focus-visible .creepy-btn__cover {
	background-color: var(--primary6);

    /* transform: rotate(-12deg);
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1.65); */

    /* transform: translate(0.4em, 0.25em) rotate(-6deg);
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1); */
    
	transform: translate(1em, 1em) rotate(-5deg);
	transition: transform 0.65s cubic-bezier(0.22, 0.61, 0.36, 1);
}



.creepy-btn:active .creepy-btn__cover {
	/* transform: rotate(0);
	transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1); */

    /* transform: translate(0,0) rotate(0deg);
	transition-timing-function: cubic-bezier(0.48, 0.04, 0.52, 1); */

    transform: translate(0, 0) rotate(0deg);
    transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes eye-blink {
	0%,
	92%,
	100% {
		animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
		height: 0.75em;
	}

	96% {
		animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
		height: 0;
	}
}
